<table>
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Visits</th>
    </thead>

    {{#each allVisitor}}
        <tr>
            <td>{{_id}}</td>
            <td>{{name}}</td>
            <td>{{count}}</td>
        </tr>
    {{/each}}   

</table>